@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body 
{
    display:block;
    background-color: #131316;
    color: #ffffff;
    font-family:'Poppins',sans-serif;
    padding:0;
    margin:0;
}
section 
{
    display:grid;
    place-items:center;
    align-content:center;
    min-height:100vh;
}

.hidden 
{
    margin:0px;
    padding:0px;
    opacity:0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
}
.shift:nth-child(n)
{
    transition-delay:calc((n+1)*300ms);
}
.show
{
    opacity:1;
    filter:blur(0);
    transform: translate(0);
}

@media(prefers-reduced-motion) 
{
    .hidden
    {
        transition:none;
    }
}

html
{
    overflow-x:hidden;
}
header
{
    margin:-10px;
    height:130px;
    position:fixed;
    top:0;
    width:100%;
    margin-bottom:0px;
    z-index:1;
    background-color: black;
}
span.title p
{
    float:right;
    text-align:right;
    margin-top:2.75%;
    right:-70%;
    font-size:28px;
    color:#81cdff;
}
div.infoContainer
{
    position:relative;
    border:3px solid black;
    color:black;
    height:45px;
    z-index:0;
    right:-2%;
    margin:0px;
    width:95%;
    top:-10%;
    border-radius: 15px;
}
footer
{
    position:relative;
    width:95%;
    right:-35px;
    background:#131316;
    margin:-10px;
    margin-top:-2px;
    height:60px;
    overflow-x:hidden;
    z-index:1;
}
footer div
{
    background:#81cdff;
    border-radius:15px;
    height:15px;
    border:3px solid black;
    overflow-x:hidden;
}
p.link
{
    cursor:pointer;
    position:relative;
    font-size:25;
    float: left;
}
p.linkcont
{
    cursor:pointer;
    position:relative;
    font-size:25;
    float: left;
}
.underbar
{
    top:35px;
    width: 0px;
    height: 5px;
    background: none;
    position: relative;
    transition: 0.5s ease;
}
p.link:hover + div.underbar
{
    position: relative;
    width: 75px;
    top:35px;
    height: 3px;
    background: black;
    transition: 0.5s ease;
}
p.linkcont:hover + div.underbar
{
    position: relative;
    width: 90px;
    top:35px;
    height: 3px;
    background: black;
    transition: 0.5s ease;
}
.image
{
    display:block;
    width:200px;
    height:200px;
    padding:-1px;
    margin:-3px;
    border-radius: 10px;
}
.imageProf
{
    position:relative;
    height:400px;
    width:400px;
    border:4px solid black;
    padding:-1px;
    margin:-3px;
    left:35%;
    border-radius: 20px;
}
a:link 
{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:visited 
{
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

